<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Executive Eye 3.0</title>
		<!-- FONTS -->
		<link rel="stylesheet" href="../../assets/fonts/Roboto/roboto.css" type="text/css"/>

		<!-- CSS Stylesheets -->
		<link rel="stylesheet" href="../../assets/css/occ.css" title="General Styles" type="text/css">
	</head>
	<body>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER TOP BAR -->
		<div id="containerTopBar">
			<h1 class="logoCDK">Executive Eye</h1>
			<div id="topGeneralMenu">
				<div class="topMenu">
					<div class="itemMenu">
						<a href="#">
							<div class="iconItemMenu"></div>
							<p class="textItemMenu">Juan Cabezas</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER LEFT MENU -->
		<div id="containerLeft">
			<div id="menuLeft">
				<div class="itemMenu selected">
					<a href="#">
						<div class="iconItemMenu icon-menu-dashboard"></div>
						<div class="containerTextItemMenu">
							<p class="textItemMenu">Dashboard</p>
						</div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-kpi"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">KPI</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-docs"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Docs</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-schedules"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Schedules</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-operations"></div>
						<div class="containerTextItemMenu"> <p class="textItemMenu">Operations</p> </div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-expense"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Expense Management</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-customReports"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Custom Reports</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-users"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Users</p></div>
					</a>
				</div>
			</div>
			<!-- - - - - - - - - -->
			<!-- - - - - - - - - -->
			<div class="menuBottom">
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu"></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu"></div>
					</a>
				</div>
			</div>
		</div>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER RIGHT -->
		<div id="containerRight">
			<div class="sectionMenu">
				<div class="containerSectionMenu">
					<a href="../../new.html">
						<div class="btnGoBack-childR">Go Back</div>
					</a>
					<div class="titleSection">
						<h5 class="titleDescriptionSmall">Model</h5>
						<h2>CIVIC 2 Door</h2>
					</div>
					<div class="descriptionSection">
						<h4>By Model</h4>
						<h5>Dashboard Summary</h5>
					</div>
					<div class="menuExport">
						<a href="#" class="btnExportMenu">
							<div class="iconExportMenu icon-pdf"></div>
						</a>
						<a href="#" class="btnExportMenu">
							<div class="iconExportMenu icon-download"></div>
						</a>
					</div>
				</div>
			</div>
			<div class="sectionSubMenu">
				<nav>
					<ol>
						<a>
							<li class="selected">New</li>
						</a>
					</ol>
				</nav>
			</div>

			<div class="boxContainerInfo serviceDetailChildReport">
				<div class="animateFadeInUp">
					<div class="menuTableDarkBlue noMarginTop">
						<div class="leftItems">
						</div>
						<div class="rightItems">
							<div class="toggleButton">
								<div class="leftItems itemToggle-1">
									By Store
								</div>
								<div class="leftItems">
									<label class="switch">
									  <input type="checkbox" id="checkbox4">
									  <span class="slider round"></span>
									</label>
								</div>
							</div>
							<div class="toggleButton">
								<div class="leftItems itemToggle-1 itemChecked">
									MTD
								</div>
								<div class="leftItems">
									<label class="switch">
									  <input type="checkbox">
									  <span class="slider round"></span>
									</label>
								</div>
								<div class="leftItems itemToggle-1">MTY</div>
							</div>
							<div class="toggleButton">
								<div class="leftItems itemToggle-1">
									BUDGET
								</div>
								<div class="leftItems">
									<label class="switch">
									  <input type="checkbox" id="checkbox4">
									  <span class="slider round"></span>
									</label>
								</div>
							</div>
							<div class="toggleButton">
								<div class="leftItems itemToggle-1 itemChecked">
									12 Months View
								</div>
								<div class="leftItems">
									<label class="switch">
									  <input type="checkbox" checked id="checkbox4">
									  <span class="slider round"></span>
									</label>
								</div>
							</div>
							<div class="toggleButton">
								<div class="leftItems itemToggle-1">
									View Trend
								</div>
								<div class="leftItems">
									<label class="switch">
									  <input type="checkbox">
									  <span class="slider round"></span>
									</label>
								</div>
							</div>
							<select name="" id="" class="selectBgDark">
								<option value="0">Select Make</option>
								<option value="1">Type</option>
								<option value="2">Type 2</option>
								<option value="3">Type 3</option>
							</select>
							<select name="" id="" class="selectBgDark">
								<option value="0">Gross</option>
								<option value="1">Units</option>
								<option value="2">PVR</option>
							</select>
						</div>
					</div>
				</div>
				<!--  - - - - - -  -->
				<div class="">
					<div class="containerTableDefaultDDE">
						<table class="tableDefaultDDE">
							<tr class="headerTableBlue uppercase">
								<td><b>Store</b></td>
								<td>
									<b>July<br>
										<p class="subTitleSmall">2017</p>
									</b>
								</td>
								<td>
									<b>June<br>
										<p class="subTitleSmall">2017</p></b>
								</td>
								<td>
									<b>May<br>
										<p class="subTitleSmall">2017</p></b>
								</td>
								<td>
									<b>April<br>
										<p class="subTitleSmall">2017</p></b>
								</td>
								<td>
									<b>March<br>
										<p class="subTitleSmall">2017</p></b>
								</td>
								<td>
									<b>February<br>
										<p class="subTitleSmall">2017</p></b>
								</td>
								<td>
									<b>January<br>
										<p class="subTitleSmall">2017</p></b>
								</td>
								<td>
									<b>December<br>
										<p class="subTitleSmall">2016</p></b>
								</td>
								<td>
									<b>November<br>
										<p class="subTitleSmall">2016</p></b>
								</td>
								<td>
									<b>October<br>
										<p class="subTitleSmall">2016</p></b>
								</td>
								<td>
									<b>September<br>
										<p class="subTitleSmall">2016</p></b>
								</td>
								<td>
									<b>August<br>
										<p class="subTitleSmall">2016</p></b>
								</td>
								<td>
									<b>July<br>
										<p class="subTitleSmall">2016</p></b>
								</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
								<td>$13,500.00</td>
								<td>$25,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
								<td>$8,333.33</td>
								<td>$25,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
								<td>$5,400.00</td>
								<td>$27,000</td>
							</tr>
							<tr>
								<td>multi-store</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
							</tr>
							<tr class="totalBox">
								<td class="totalTitle">TOTAL</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
								<td>$12,500.00</td>
								<td>$25,000</td>
							</tr>
						</table>
					</div>
				</div>
				<!--  - - - - - -  -->
				<!--  - - - - - -  -->
			</div>
		</div>
		<script src="../../assets/js/jquery.min.js"></script>
		<script src="../../assets/js/app.js"></script>
	</body>
</html>
