<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Executive Eye 3.0</title>
		<!-- FONTS -->
		<link rel="stylesheet" href="../../assets/fonts/Roboto/roboto.css" type="text/css"/>

		<!-- CSS Stylesheets -->
		<link rel="stylesheet" href="../../assets/css/occ.css" title="General Styles" type="text/css">
	</head>
	<body>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER TOP BAR -->
		<div id="containerTopBar">
			<h1 class="logoCDK">Executive Eye</h1>
			<div id="topGeneralMenu">
				<div class="topMenu">
					<div class="itemMenu">
						<a href="#">
							<div class="iconItemMenu"></div>
							<p class="textItemMenu">Juan Cabezas</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER LEFT MENU -->
		<div id="containerLeft">
			<div id="menuLeft">
				<div class="itemMenu selected">
					<a href="#">
						<div class="iconItemMenu icon-menu-dashboard"></div>
						<div class="containerTextItemMenu">
							<p class="textItemMenu">Dashboard</p>
						</div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-kpi"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">KPI</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-docs"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Docs</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-schedules"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Schedules</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-operations"></div>
						<div class="containerTextItemMenu"> <p class="textItemMenu">Operations</p> </div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-expense"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Expense Management</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-customReports"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Custom Reports</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-users"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Users</p></div>
					</a>
				</div>
			</div>
			<!-- - - - - - - - - -->
			<!-- - - - - - - - - -->
			<div class="menuBottom">
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu"></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu"></div>
					</a>
				</div>
			</div>
		</div>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER RIGHT -->
		<div id="containerRight">
			<div class="sectionMenu">
				<div class="containerSectionMenu">
					<a href="#">
						<div class="btnGoBack-childR">Go Back</div>
					</a>
					<div class="titleSection">
						<h2>F&I Performance</h2>
					</div>
					<div class="descriptionSection">
						<h4 class="nonSubDescription">Dashboard <b>Summary</b></h4>
					</div>
					<div class="menuExport">
						<a href="#" class="btnExportMenu">
							<div class="iconExportMenu icon-pdf"></div>
						</a>
						<a href="#" class="btnExportMenu">
							<div class="iconExportMenu icon-download"></div>
						</a>
					</div>
				</div>
			</div>
			<div class="sectionSubMenu">
				<nav>
					<ol>
						<a href="#"><li>Sales Goals</li></a>
						<a href="sales-contest.html"><li>Sales Contest</li></a>
						<li class="selected">F&I Performance</li>
					</ol>
				</nav>
			</div>
			<div class="boxContainerInfo">
				<div class="row">
					<div class="col-lg-3">
						<div class="bgGrayCdk1 animateFadeInUp">
							<table class="itemsTableDark">
								<tr>
									<td class="infoFI">
										<div class="">
											<h5 class="leftItems">FI GROSS</h5>
											<div class="rightItems"></div>
										</div>
										<div class="infoUnits">
											<p>Product:</p>
											<p class="unitsData">$603</p>
										</div>
										<div class="infoGross">
											<p>Finance Reserve:</p>
											<p class="grossData">$403</p>
										</div>
										<div class="infoUnits">
											<p>Total:</p>
											<p class="unitsData red">$603</p>
										</div>
									</td>
								</tr>
								<tr>
									<td class="infoFI">
										<div class="">
											<h5 class="leftItems">FI PVR</h5>
											<div class="rightItems"></div>
										</div>
										<div class="infoUnits">
											<p>Product:</p>
											<p class="unitsData">15</p>
										</div>
										<div class="infoGross">
											<p>Finance Reserve:</p>
											<p class="grossData">627</p>
										</div>
										<div class="infoUnits">
											<p>Total:</p>
											<p class="unitsData red">15</p>
										</div>
									</td>
								</tr>
								<tr class="bgGray-3">
									<td class="infoFI-2">
										<h5>Penetration</h5>
										<div class="penetrationInfo">
											<p class="infoLeft"><b>Product</b> Penetration:</p>
											<p class="infoRight red">13%</p>
										</div>
										<div class="penetrationInfo">
											<p class="infoLeft"><b>Finance</b> Penetration:</p>
											<p class="infoRight red">13%</p>
										</div>
									</td>
								</tr>
								<tr class="bgGray-3">
									<td class="infoFI-2">
										<h5>Chargebacks</h5>								
										<div>
											<p class="importantFIData red">45,598</p>
											<p class="dataDescription">From GL chargeback acct.</p>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="animateFadeInUp slow-1">
							<div class="menuTable bgGrayCdk2 noMarginTop">
								<div class="leftItems">
								</div>
								<div class="rightItems">
									<input name="date" class="selectBgDark" value="2018-02-06"/>
									<select name="" id="" class="selectBgDark">
										<option value="0">Stock Type</option>
										<option value="1">Type</option>
										<option value="2">Type 2</option>
										<option value="3">Type 3</option>
									</select>
									<select name="" id="" class="selectBgDark">
										<option value="0">Sale Type</option>
										<option value="1">Type This is an example of a large text</option>
										<option value="2">Type 2</option>
										<option value="3">Type 3</option>
									</select>
									<select name="" id="" class="selectBgDark">
										<option value="0">Deal Type</option>
										<option value="1">Type</option>
										<option value="2">Type 2</option>
										<option value="3">Type 3</option>
									</select>
								</div>
							</div>
							<div class="containerTableDefaultDDE">
								<table class="tableDefaultDDE textSmall">
									<tr class="headerTableBlue">
										<td class="itemEmployee"><b>Employee</b></td>
										<td><b>Store</b></td>
										<td><b>Count</b></td>
										<td><b>Rank</b></td>
										<td><b>Total<br>Product</b></td>
										<td class="itemStockType "><b>Stock<br>Type</b></td>
										<td><b>Front</b></td>
										<td><b>Reserve</b></td>
										<td><b>War</b></td>
										<td><b>Maint</b></td>
										<td><b>GAP</b></td>
										<td><b>Paint</b></td>
										<td><b>Acc</b></td>
										<td><b>Key</b></td>
										<td><b>After<br>Market</b></td>
										<td><b>Total<br>Product</b></td>
										<td><b>Total<br>P&R</b></td>
										<td class="itemTotal "><b>Total</b></td>
									</tr>
									<tr>
										<td class="itemEmployee">Bryan Roberts</td>
										<td>multi-store</td>
										<td>Lorem Ipsum</td>
										<td><b>1</b></td>
										<td>8</td>
										<td class="itemStockType ">New</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td>$0</td>
										<td class="itemTotal ">$0</td>
									</tr>
									<tr>
										<td class="itemEmployee">Bobby Kidd</td>
										<td>Legacy Auto Store</td>
										<td>Lorem Ipsum</td>
										<td><b>2</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Austin Hyde</td>
										<td>Legacy Nissan</td>
										<td>Lorem Ipsum</td>
										<td><b>3</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Terry Wooton</td>
										<td>multi-store</td>
										<td>Lorem Ipsum</td>
										<td><b>4</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Bryan Roberts</td>
										<td>multi-store</td>
										<td>Lorem Ipsum</td>
										<td><b>5</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Bryan Roberts</td>
										<td>multi-store</td>
										<td>Lorem Ipsum</td>
										<td><b>6</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Bobby Kidd</td>
										<td>Legacy Auto Store</td>
										<td>Lorem Ipsum</td>
										<td><b>7</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Austin Hyde</td>
										<td>Legacy Nissan</td>
										<td>Lorem Ipsum</td>
										<td><b>8</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Terry Wooton</td>
										<td>multi-store</td>
										<td>Lorem Ipsum</td>
										<td><b>9</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Austin Hyde</td>
										<td>Legacy Nissan</td>
										<td>Lorem Ipsum</td>
										<td><b>10</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
									<tr>
										<td class="itemEmployee">Terry Wooton</td>
										<td>multi-store</td>
										<td>Lorem Ipsum</td>
										<td><b>11</b></td>
										<td>8</td>
										<td class="itemStockType ">Used</td>
										<td>$14,297</td>
										<td>$17,024</td>
										<td>$31,322</td>
										<td>$34,300</td>
										<td>$27,592</td>
										<td>$1,114</td>
										<td>$154</td>
										<td>$1,362</td>
										<td>$1,562</td>
										<td>$2,506</td>
										<td>$1,715</td>
										<td class="itemTotal ">$497</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="containerBtnBottom animateFadeInUp">
					<ol class="menuBottomSalesGoals">
						<li class="selected">Amount</li>
						<li>Unit</li>
						<li>Penetration</li>
					</ol>
				</div>
			</div>
		</div>
		<script src="../../assets/js/datepicker.js"></script>
        <script>
            var input = document.querySelector('input[name="date"]');

            var picker = datepicker(input);
        </script>
	</body>
</html>
