<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Executive Eye 3.0</title>
		<!-- FONTS -->
		<link rel="stylesheet" href="../../assets/fonts/Roboto/roboto.css" type="text/css"/>

		<!-- CSS Stylesheets -->
		<link rel="stylesheet" href="../../assets/css/occ.css" title="General Styles" type="text/css">
	</head>
	<body>
		
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER TOP BAR -->
		<div id="containerTopBar">
			<h1 class="logoCDK">Executive Eye</h1>
			<div id="topGeneralMenu">
				<div class="topMenu">
					<div class="itemMenu">
						<a href="#">
							<div class="iconItemMenu"></div>
							<p class="textItemMenu">Juan Cabezas</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER LEFT MENU -->
		<div id="containerLeft">
			<div id="menuLeft">
				<div class="itemMenu selected">
					<a href="#">
						<div class="iconItemMenu icon-menu-dashboard"></div>
						<div class="containerTextItemMenu">
							<p class="textItemMenu">Dashboard</p>
						</div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-kpi"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">KPI</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-docs"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Docs</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-schedules"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Schedules</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-operations"></div>
						<div class="containerTextItemMenu"> <p class="textItemMenu">Operations</p> </div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-expense"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Expense Management</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-customReports"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Custom Reports</p></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu icon-menu-users"></div>
						<div class="containerTextItemMenu"><p class="textItemMenu">Users</p></div>
					</a>
				</div>
			</div>
			<!-- - - - - - - - - -->
			<!-- - - - - - - - - -->
			<div class="menuBottom">
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu"></div>
					</a>
				</div>
				<div class="itemMenu">
					<a href="#">
						<div class="iconItemMenu"></div>
					</a>
				</div>
			</div>
		</div>
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- - - - - - - - - -->
		<!-- CONTAINER RIGHT -->
		<div id="containerRight">
			<div class="sectionMenu">
				<div class="containerSectionMenu">
					<a href="#">
						<div class="buttonDark">Go Back</div>
					</a>
					<div class="titleSection">
						<h2>Sales Contest</h2>
					</div>
					<div class="descriptionSection">
						<h4>Sales Goals</h4>
						<h5>Dashboard Summary</h5>
					</div>
					<div class="menuExport">
						<a href="#" class="btnExportMenu btnExportMail">
							<img src="../../assets/images/icon/mail-export.svg" alt="">
						</a>
						<a href="#" class="btnExportMenu btnExportExcel">
							<img src="../../assets/images/icon/excel-export.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="sectionSubMenu">
				<nav>
					<ol>
						<a href="#"><li>Sales Goals</li></a>
						<li class="selected">Sales Contest</li>
						<a href="fi-performance.html"><li>F&I Performance</li></a>
					</ol>
				</nav>
			</div>
			<div class="boxContainerInfo">
				<div class="tableTopDark animateFadeInUp">
					<div class="menuTableDark">
						<div class="rightItems">
							<select name="" id="" class="selectBgDark">
								<option value="0">FLEET</option>
								<option value="1">FLEET</option>
								<option value="2">FLEET</option>
								<option value="3">FLEET</option>
							</select>
						</div>
					</div>
					<div class="containerItemsTableDark">
						<table class="itemsTableDark">
							<tr>
								<td>
									<h5>TOTAL</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData">240,355</p>
									</div>
								</td>
								<td>
									<h5>PACE</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData">240,355</p>
									</div>
								</td>
								<td>
									<h5>PROJECTION</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData">240,355</p>
									</div>
								</td>
								<td class="variance">
									<h5>VARIANCE (FORCAST)</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData green">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData red">240,355</p>
									</div>
								</td>
								<td>
									<h5>MUST AVERAGE (FORCAST)</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData">240,355</p>
									</div>
								</td>
								<td>
									<h5>GOAL</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData">240,355</p>
									</div>
								</td>
								<td class="variance">
									<h5>VARIANCE (GOAL)</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData green">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData yellow">240,355</p>
									</div>
								</td>
								<td>
									<h5>MUST AVERAGE (GOAL)</h5>
									<div class="infoUnits">
										<p>Units:</p>
										<p class="unitsData">260</p>
									</div>
									<hr>
									<div class="infoGross">
										<p>Gross:</p>
										<p class="grossData">240,355</p>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="animateFadeInUp">
					<div class="menuTableDarkBlue">
						<div class="leftItems">
							<h5>TEAM PERFORMANCE</h5>
						</div>
						<div class="rightItems">
							<div>
								<form role="search">
								    <div class="input-group add-on">
								    	<input placeholder="Search" name="srch-term" id="srch-term" type="text" class="searchDarkDDE">
										<div class="input-group-btn">
								        	<button class="btn btnAquamarine">INCLUDE<i class="glyphicon glyphicon-search"></i></button>
								    	</div>
								    </div>
								</form>
							</div>
							<div class="editButtonBlue">
								Edit Goals
							</div>
						</div>
					</div>
					<div class="containerTableDefaultDDE">
						<table class="tableDefaultDDE">
							<tr>
								<td class="titleTableDefaultDDE"></td>
								<td colspan="9" class="titleTableDefaultDDE">UNITS</td>
								<td colspan="" class="titleTableDefaultDDE"></td>
								<td colspan="5" class="titleTableDefaultDDE">GROSS</td>
								<td colspan="8" class="titleTableDefaultDDE">PVR</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Employee</td>
								<!-- o -->
								<td class="contentTable">New</td>
								<td class="contentTable">Goal</td>
								<td class="contentTable">Used</td>
								<td class="contentTable">Goal</td>
								<td class="contentTable">Total</td>
								<td class="contentTable">Pace</td>
								<td class="contentTable">Change</td>
								<td class="contentTable">LSE</td>
								<td class="contentTable">90 Days Avg</td>
								<!-- o -->
								<td class="contentTable">Days W/O Sales</td>
								<!-- o -->
								<td class="contentTable">Front</td>
								<td class="contentTable">Back</td>
								<td class="contentTable">Total</td>
								<td class="contentTable">Goal</td>
								<td class="contentTable">90 Days Avg</td>
								<!-- o -->
								<td class="contentTable">Front</td>
								<td class="contentTable">Goal</td>
								<td class="contentTable">Back</td>
								<td class="contentTable">Goal</td>
								<td class="contentTable">Total</td>
								<td class="contentTable">Goal</td>
								<td class="contentTable">Avg Res</td>
								<td class="contentTable">Avg Aft</td>
								
							</tr>
							<tr>
								<td class="alignLeft employeeName">Nicholas Frazier</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable greenBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Kevin Collins</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable redBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Ben Jhonson</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable greenBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Nicholas Frazier</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable greenBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Kevin Collins</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable greenBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Ben Jhonson</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable greenBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Nicholas Frazier</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable greenBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Kevin Collins</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable redBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
							<tr>
								<td class="alignLeft employeeName">Ben Jhonson</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable greenBg">N/A</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<!-- o -->
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
								<td class="contentTable">0.0</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="containerBtnBottom animateFadeInUp">
					<ol class="menuBottomSalesGoals">
						<li class="selected">All</li>
						<li>Sales Person</li>
						<li>Sales Manager</li>
						<li>F&I Manager</li>
					</ol>
				</div>
			</div>
		</div>
	</body>
</html>
